* {
    box-sizing: border-box;
}

body {
    background-color: #F1F1F1;
    font-family: "Roboto", "Arial", sans-serif;
}

p {
    margin: 0;
}

#tabs {
    margin: 50px auto;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tabs.tab {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

#content {
    background-color: #FFF;
    margin: 0 auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
}

#titleHeading {
    padding-bottom: 4px;
    border-bottom: 2px solid #777;
    margin-bottom: 30px;
}

.subHeading {
    color: #777;
    font-style: italic;
}